
header{
    position: fixed;
    display: flex;
    padding: 20px;
    background-color: transparent;
    align-items: center;
    width: 100%;
    transition: background-color 0.5s ease-in-out;
    top: 0;
    z-index: 100;
}

.scrolled {
    background-color: #333;
  }

#headerSpan{
    font-weight: 800;
    font-size: 25px;
    color: white;
}

.menuBar{
    height: 40px;
    cursor: pointer;
    display: none;
}

.navLinks{
    display: flex;
    gap: 20px;
    font-weight: 400;
    margin: 0 auto;
    padding: 10px;
}

.navLink a{
    font-size: 18px;
    color: white;
}

.navLink a{
    color: white;
}

.navLink:hover{
    transform: scale(1.06);
    transition: .2s ease-in;
    color: blueviolet;
}
