@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    min-width: 0;
    padding: 0;
    font-family: Nunito sans, sans-serif;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

body{
    min-height: 100dvh;
    margin: 0;
}

#mainn{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto; 
}
